ul {
  list-style-type: none;
  text-align: center;
  display: block;
  background-color: limegreen;
  width: 100%;
  padding: 25px 0;
  z-index: 10;
}
li {
  display: inline;
  padding: 90px;
}
li a{
  color: brown;
  display: inline;
}
div.navbar {
  width: 70%;
  left: 15%;
  position: absolute;
}
